body {
    margin: 0;
    padding: 0;
}

.principal{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;
    flex-wrap: wrap;
}

.logo{
    width: 100%;
    height: 12%;
    background-color: white;
    display: inline-flex;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    
}

.menu {
    width: 20%;
    height: 88%;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    border-right-style: inset;      
}

.cat{
    margin-left: 18px;
    margin-top: 25px;
    margin-right: 15px;
    font-weight: 500;
    color: #70128d;
    font-size: .8rem;
}

.cat:hover {
    cursor: pointer;
}

.contenedor {
    width: 80%;
    height: 88%;

}

.buscador {
    width: 100%;
    height: 10%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}

.inputBuscador{
    width: 70%;
    border-radius: 20px;
    border: inset;
}

.iconoBuscar{
    margin-left: 10px;
    color:black;
    font-size: medium;
}

.contenido{
    width: 100%;
    height: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    overflow-y: scroll;
    padding: 15px;
}

#imgLogo {
    height: 70%!important;
}

.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: none;
}

.imgStyle{
    width: 80%!important;
    height: 180px!important;
}

.cardStyle{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 5px;
}

.booktitle {
    font-family: 'Roboto Slab', serif;
    font-weight: 800;
    font-size: .8rem;
}

.authorname {
    font-family: 'Roboto Slab', serif;
    font-weight: 400;
    font-size: .6rem;
}

.categoria{
    font-family:'Roboto Slab', serif;
    font-weight: 100;
    font-size: .5px;
    color:rgb(37, 36, 36);
}